streamlit
PyPDF2
python-docx
pytesseract
Pillow
pdfplumber
openpyxl
pandas
numpy
matplotlib
requests
fastapi
uvicorn
pydantic
langchain
chromadb
sentence-transformers
requests
beautifulsoup4
huggingface_hub
